<div class="content">
	<div class="topbar">
		<div class="leftpart">
		<div>
		<div class="moddlepart">
		</div>
		<div class="rightpart">
		</div>
	</div>
	<div class="calendarholder">
		
	</div>
	<div class="editform">
	</div>
	<div class="bottomlist">
	</div>
</div>
