<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Company Logo"
    src="/assets/img/logo.png"
  />
  <span>{{ company_name }}</span>
  <div class="spacer"></div>
  <div class="lefty">{{ user_name }}</div>
</div>

<div class="content" role="main">
	<div class="calendarholder">
		<mat-card class="calendarcard">
			<mat-card-header class="headbar">
				<mat-button-toggle-group name="time navigation" ariaLabelledBy="timenavigation">
				<mat-button-toggle mat-raised-button (click)="travelDate(-1)"><span class="material-icons">
chevron_left
					</span></mat-button-toggle>
<mat-button-toggle mat-raised-button (click)="travelDate(1)"><span class="material-icons">
chevron_right
	</span></mat-button-toggle>
				</mat-button-toggle-group>
				<div class="mat-chip-wrap"><mat-chip>today</mat-chip></div>
<div class="title">{{ referenceDate[0] | date:"MMMM y" }}</div>
<div class="spacer"></div>
<div class="buttonrow">
  <mat-button-toggle-group name="calendarStyle" aria-label="Calendar Style">
	  <mat-button-toggle value="month" (click)="switchStyle('m')" class="{{ (viewStyle=='m')?'active':''}}" >Month</mat-button-toggle>
	  <mat-button-toggle value="week" (click)="switchStyle('m')" class="{{ (viewStyle=='w')?'active':'' }}">Week</mat-button-toggle>
	  <mat-button-toggle value="day" (click)="switchStyle('m')" class="{{ (viewStyle=='d')?'active':'' }}">Day</mat-button-toggle>
</mat-button-toggle-group>

</div>

			</mat-card-header>
			<mat-card-content class="matho">
				<mat-grid-list cols="7" rowHeight="70">
					<mat-grid-tile
			    *ngFor="let tile of calendarContent;index as i" class="{{ getClassOfTile(tile, i) }} {{ getSelection(tile, i, getClassOfTile(tile, i)) }}" (click)="setSelectedDate(tile, getClassOfTile(tile, i))">
						<span class="tilecontent">
						<span><mat-chip *ngIf="((isToday(tile)) && (getClassOfTile(tile, i) == 'active'))">today</mat-chip>{{ tile }}</span>
						<span *ngIf="getTasks(tile)">{{ getNrOfTasks(tile, getClassOfTile(tile, i)) }} events - {{ getTimeSummary(tile, getClassOfTile(tile, i)) }}</span>
					</span>
  </mat-grid-tile>
				</mat-grid-list>
			</mat-card-content>

		</mat-card>
	</div>
	<div *ngIf="errorMsg!=''" class="error">{{errorMsg}}</div>
	<div class="formholder">
		<div class="onerange">
			<mat-chip class="cronotag">start</mat-chip>
			<div class="onestack">
		<div class="updownchanger">
			<span class="material-icons" (click)="incTime(0,1)" >keyboard_arrow_up</span>
			<input type="text" class="" value="{{times[0]}}" [(ngModel)]="times[0]"/>
			<span class="material-icons" (click)="decTime(0,1)">keyboard_arrow_down</span>
		</div>
		<span class="separator"><img src="/assets/img/icons8-colon-50.png" title="time separator" alt="colon" name="colon" class="sepimg"/></span>
		<div class="updownchanger">
			<span class="material-icons notagcolumn" (click)="incTime(1,2)">keyboard_arrow_up</span>
			<input type="text" class="" value="{{times[1]}}" [(ngModel)]="times[1]"/>
			<span class="material-icons" (click)="decTime(1,2)">keyboard_arrow_down</span>
		</div>
		<span class="material-icons">
insert_invitation
		</span></div>
		</div>
		<div class="onerange">
			 <mat-chip class="cronotag">end</mat-chip>

			<div class="onestack">
<div class="updownchanger">
                        <span class="material-icons" (click)="incTime(2,1)">keyboard_arrow_up</span>
			<input type="text" class="" value="{{times[2]}}" [(ngModel)]="times[2]" />
                         <span class="material-icons" (click)="decTime(2,1)">keyboard_arrow_down</span>
                </div>
		<span class="separator"><img src="/assets/img/icons8-colon-50.png" title="time separator" alt="colon" name="colon" class="sepimg"/></span>

                <div class="updownchanger">
                         <span class="material-icons" (click)="incTime(3,2)"> keyboard_arrow_up</span>
			 <input type="text" class="" value="{{times[3]}}" [(ngModel)]="times[3]"/>
                         <span class="material-icons" (click)="decTime(3,2)">keyboard_arrow_down</span>
                </div>
		<span class="material-icons">
insert_invitation
</span>
		</div>
		</div>
		<div class="formelem">
			<mat-form-field>
				<mat-label>Activity type</mat-label>
  <mat-select  [(ngModel)]="atsv">
      <mat-option *ngFor="let type of ats" [value]="type">
        {{type}}
      </mat-option>
  </mat-select>
</mat-form-field>
		</div>
		<div class="formelem">
			<textarea type="text" rows="4" cols="78" placeholder="your message here" [(ngModel)]="newText"></textarea>
		</div>
		<div class="formelem">
			<input type="submit" value="Log time" name="submit" (click)="addLog()" />
		</div>
	</div>
	<div class="listholder">
		<div class="col1">
			<div class="card" *ngFor="let logger of loggers;index as i" (mouseover)="showExits[i]=true" (mouseout)="showExits[i]=false">
				<div class="left">
					<div ><span class="material-icons">person</span>
						<span><input type="text" value="{{loggers[i].name}}"  [(ngModel)]="loggers[i].name"/>
				</span></div>
				<div><span class="material-icons">donut_large</span>
					<span><input type="text" value="{{ats[loggers[i].activity_type]}}"/></span></div>
				<div><span class="material-icons">edit</span>
					<span><input type="text" value="{{extraModels[i].comment}} " [(ngModel)]="extraModels[i].comment"/></span></div>
				</div>
				<div class="right">
					<mat-icon *ngIf="showExits[i]" class="dismiss" (click)="dismissLogger(i, logger)">close</mat-icon>
					<div>
						<span class="material-icons">timer</span>
						<span>
							<input type="text" value="{{extraModels[i].sh}}" [(ngModel)]="extraModels[i].sh" (ngModelChange)="changeTimeEntry(i,'sh')"/><span>:</span><input type="text" value="{{extraModels[i].sm}}" [(ngModel)]="extraModels[i].sm" (ngModelChange)="changeTimeEntry(i, 'sm')"/><span> - </span><input type="text" value="{{ extraModels[i].eh }}" [(ngModel)]="extraModels[i].eh" (ngModelChange)="changeTimeEntry(i, 'eh')"/><span>:</span><input type="text" value="{{extraModels[i].em}}" [(ngModel)]="extraModels[i].em" (ngModelChange)="changeTimeEntry(i,'em')"/>
						</span>
					</div>
					<mat-chip-list>
						<mat-chip color="primary">{{ calcDuration(logger.end_time, logger.start_time, 'h') }} hours</mat-chip>
						<mat-chip>{{ calcDuration(logger.end_time, logger.start_time, 'm') }} minutes</mat-chip>
					</mat-chip-list>
				</div>
			</div>
		</div>
		<div class="col2">
			<div class="card">
				<div class="left">
					<div>
						<span class="material-icons">
insert_invitation
                </span>
		<span>Total time - {{ selectedDate | date:"dd MMM yyyy" }}</span>
					</div>
					<mat-chip-list>
						<mat-chip color="primary"> {{ getOverallHours() }} hours</mat-chip>
						<mat-chip>{{ getOverallMinutes() }} minutes</mat-chip>
                                        </mat-chip-list>

				</div>
			</div>
		</div>
	</div>

</div>

