*, html, body {
	margin:0px;
	padding:0px;
}

body {
	background-color:#eeeeee;
	color:#eee;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spacer {
    flex: 1;
  }


  .toolbar img {
    margin: 16px 16px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#eeeeee;
    width:100%;

  }


.toolbar {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:center;
	align-content: space-around;
	padding-left:0.5%;
	padding-right:5%;
	background-color:#eeeeee;
	color: #999999;
	font-size: 15px;
}
.headbar {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:center;
	
}
.calendarholder {
	display:flex;
	flex-direction:row;
	align-content:space-between;
	background-color:white;
	align-items:flex-start;
	align-self:center;
	flex-wrap:wrap;
	color:black;
	width:97%;
}
.calendarcard {
	background-color:white;
	height:auto;
	flex:flex-grow;
	flex-direction:column;
	display:flex;
	align-self:center;
	color:black;
	width:100%;
}
>>>.mat-card-header {
	display:flex;
	flex-direction:row;
	align-content:space-between;
}
>>>.mat-card-header .title {
	flex: 2;
	align-self: center;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
}
>>>.mat-card-header .mat-button-toggle-group {
	flex:0.3;
}
>>>.mat-card-header .mat-chip-wrap {
	flex:0.8;
	display:flex;
	justify-content:center;
}
>>>.mat-card-header>.buttonrow .mat-button-toggle {
	background-color:#eeeeee;
	border-color:#eeeeee;
	padding:6px;
	font-weight:normal;
}
>>>.mat-card-header>.buttonrow .mat-button-toggle:not(.active){
	color:#616161;
}
>>>.mat-card-header>.buttonrow .active{
	background-color:#004D4D;
	border-color:#004D4D;
	color:#fff!important;
}
>>>.mat-chip.mat-standard-chip{
	background-color:lightgray!important;
	border-color:10%;
	color:#616161;
	padding-right:5%;
	padding-left:5%;
}
>>>.mat-button-toggle-appearance-standard,
>>>.mat-button-toggle-checked.mat-button-toggle-appearance-standard{
    color: #424242;
    background: #fff;
    border:1px solid black;
    }
>>>.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
	padding:0px!important;
	line-height:normal!important;
}
.formholder {
	display: flex;
flex-direction: row;
align-content: flex-start;
background-color: #eee;
align-items: center;
flex-wrap: wrap;
color: black;
width: 97%;
padding-top: 2%;
margin-bottom:2%;
}
.updownchanger {
	display:flex;
	flex-direction:column;
	align-content: center;
        align-items: flex-start;
}

.updownchanger span {
	font-weight:bold;
	font-size:29px;
}
 .cronotag {
	 background-color: #17a2b8 !important;
border-color: #17a2b8;
color: white;
padding-right: 5%;
padding-left: 5%;
border-radius: 18%;
padding-top: 1%;
padding-bottom: 1%;
padding-right: 2%;
padding-left: 2%;
align-self: flex-start;
}

.updownchanger input {
	width:70%;
	text-align:center;
}

>>>.mat-grid-tile:nth-of-type(-n+7) {
	font-weight:bold;
	height: calc(35px)!important;
	margin-top: 35px;
}
>>>.mat-grid-tile:nth-of-type(n+8) .mat-figure {
	align-items:flex-start;
	justify-content:flex-end;
	width: 94%;
	height: 88%;
	padding-top: 2%;
	padding-right: 4%;
	padding-top: 3%;
	width: 94%;
}
>>>.mat-grid-tile:nth-of-type(n+8) .mat-figure:hover {
	border:0.5px solid cyan;
}
.tilecontent {
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:flex-start;
	width:100%;
}
.tilecontent span:nth-of-type(1) {
	align-self:flex-end;
}
.tilecontent span:nth-of-type(2) {
background-color: #9fcbff;
padding-left: 2px;
padding-right: 2px;
border: 1px solid #9fcbff;
border-radius: 4px;
padding: 5%;
margin-left: 6%;
margin-right: 6%;
width: 82%;
color: white;
font-weight: bold;
}
.mat-grid-tile:nth-of-type(n+8).active {
	background-color:#eee;
	color:#000;
}
.mat-grid-tile:nth-of-type(n+8).inactive {
	background-color:#eee;
	color:#ddd;
}

.error {
	text-align:center;
	color:red;
	width:100%;
	margin-top:2%;
	font-weight:bold;
}
.onerange {
	display:flex;
	flex-direction:column;
	align-content:space-between;
	align-items:center;
	width:10%;
	margin-right: 2%;
}
.onerange .onestack {
	display:flex;
	flex-direction:row;
	align-items:center;
}
.updownchanger span,
.separator{
	align-self:center;
}
.sepimg {
	width:12px;
	height:12px;
}
.formelem {
	display: flex;
align-items: center;
justify-content: center;
flex-direction:row;
}
.formholder div:nth-of-type(3) {
	margin-left:2%;
}
.formelem select {
	background-color: white;
border: 1px solid black;
padding: 5%;
border-radius: 6%;
}
>>>.mat-form-field {
	background-color: white;
padding-left: 10%;
padding-right: 10%;
border-radius: 13px;
border: 1px solid black;
}
>>>mat-label {
	color:black;
}
>>>.mat-form-field-infix {
	width: 100px!important;
margin-top: -10px;
}
>>>.mat-form-field-appearance-legacy .mat-form-field-underline{
display:none;
}
>>>.mat-select-value,
>>>.mat-select-arrow,
>>>.mat-form-field-type-mat-select .mat-form-field-label
{
	color:black;
}
>>>.mat-form-field-appearance-legacy .mat-form-field-wrapper {
	padding-bottom:0px!important;
}
>>>.formelem{
	padding-top:2%;
}
.formholder .formelem:nth-of-type(1) {
	width:12%;
	margin-left:2%;
}
.formholder .formelem:nth-of-type(2n) {
	width:50%;
	margin-left:5%;
}
.formholder .formelem:last-of-type {
	width:10%;
}
.formelem textarea {
	padding:2%;
	
}
.formelem input[type="submit"] {
	background-color:#1762b8;
	border:1px solid #1762b8;
	color:white;
	padding:6%;
	border-radius:6px;
}
.listholder {
	background-color:white;
	justify-content:space-between;
	display:flex;
	flex-direction:row;
	padding-left:1.5%;
	padding-right:1.5%;
	width:97%;

}
.col1 {
	display:flex;
	flex-direction:column;
	flex:1.5;
	margin-left:1%;
}
.col2 {
	display:flex;
	flex-direction:column;
	flex:1;
	margin-left:1%;
	margin-top:0.3%;
}
.card {
	border-color:darkgray;
	border:1px solid darkgray;
	border-radius:6px;
	background-color:lightgray;
	color:black;
	min-height:30px;
	display:flex;
	flex-direction:row;
	padding:1%;
	margin-top:1.5%;

}
.card div span input {
	background-color: lightgray;
	border: none;
}
.card div span {
	align-self:center;
}
.card .left {
	display:flex;
	flex:8;
	align-self:flex-start;
	flex-direction:column;
}
.card .left div {
	display:flex;
	padding-left:1%;
	padding-top:1%;
}
.card .left div:nth-of-type(1) span:nth-of-type(1) input{
	font-size:2em;
}
.card .left div:nth-of-type(1) span:nth-of-type(2) input{
	font-size:1.5em;
	align-self:center;
}
.card .left div:nth-of-type(2) span:nth-of-type(1),
.card .left div:nth-of-type(3) span:nth-of-type(1){
	font-size:1em;
	padding:1%;
}
.card .left div:nth-of-type(2) span:nth-of-type(2) {
	font-size:0.5em;
	display:flex;
}
.card .right {
	flex:3;
	display:flex;
	flex-direction:column;
	align-self:baseline;
}
.card .right div {
	display:flex;
}
.card .right div span {
}
.card .right div span input {
	max-width:8%;
	text-align:center;
}
>>>.card .right mat-chip-list {
	margin-top:5%;
}
>>>.card .right .mat-chip.mat-standard-chip:nth-of-type(1),
>>>.card .left .mat-chip.mat-standard-chip:nth-of-type(1){
	background-color:#1762b8!important;
	color:white;
	font-weight:bold;
	font-size: 16px;
	border-radius: 4px;
	min-height:0px;
}
>>>.card .right .mat-chip.mat-standard-chip:nth-of-type(1) {
	padding:6%;
}
>>>.card .left .mat-chip.mat-standard-chip:nth-of-type(1) {
	padding:4%;
}
>>>.card .right .mat-chip.mat-standard-chip:nth-of-type(2),
>>>.card .left .mat-chip.mat-standard-chip:nth-of-type(2){
	background-color:darkgray!important;
	color:white;
	font-size:12px;
	font-weight:bold;
	border-radius: 4px;
	padding-right:4%;
	padding-left:4%;
	padding-top: 0px;
	padding-bottom: 0px;
	align-self:end;
	min-height:0px;
	height:auto;

}
.card:hover {

}
>>>..mat-chip-list-wrapper {
	width:100%;
}
.col2 .card .left div span:nth-of-type(1) {
	font-size:3.2em;
	margin-top: 2%;
margin-bottom: 4%;
}
.col2 .card .left div span:nth-of-type(2) {
	font-size:2em;
	margin-bottom:4%;
	margin-top:2%;
	align-self:center;
}
.col2 mat-chip-list {
	margin-bottom:2%;
	margin-left:3%;
}
>>>.tilecontent .mat-chip.mat-standard-chip {
	margin-left:-38%;
	margin-right:17%;
	border-radius:8px;
	position:absolute;
	margin-top:-1%;
}
>>>.selected figure{
	border:0.2px solid cyan;
}
.dismiss {
	display:block;
	position:absolute;
	align-self:flex-end;
}
